<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Crear Nuevo Usuario" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-lg-12">
      <div class="card">
          <div class="card-body">
            <div class="row">
                <div class="col-md-6 col-xxl-4">
                    <div class="mb-3">
                        <label class="form-label" for="rut-input">Rut</label>
                        <input type="text" class="form-control" id="rut-input"
                            placeholder="Ingrese el RUT">
                    </div>
                </div>
                <div class="col-md-6 col-xxl-4 ">
                    <div class="mb-3">
                        <label class="form-label" for="project-title-input">Nombre</label>
                        <input type="text" class="form-control" id="project-title-input"
                            placeholder="Ingrese el nombre">
                    </div>
                </div>
                <div class="col-md-6 col-xxl-4">
                    <div class="mb-3">
                        <label class="form-label" for="project-title-input">Primer Apellido </label>
                        <input type="text" class="form-control" id="project-title-input"
                            placeholder="Ingrese el primer apellido">
                    </div>
                </div>
                <div class="col-md-6 col-xxl-4">
                    <div class="mb-3">
                        <label class="form-label" for="project-title-input">Segundo Apellido</label>
                        <input type="text" class="form-control" id="project-title-input"
                            placeholder="Ingrese el segundo apellido">
                    </div>
                </div>
                <div class="col-md-6 col-xxl-4">
                    <div class="mb-3">
                        <label class="form-label" for="project-title-input">Email</label>
                        <input type="text" class="form-control" id="project-title-input"
                            placeholder="Ingrese el email">
                    </div>
                </div>
                <div class="col-md-6 col-xxl-4">
                    <div class="mb-3">
                        <label class="form-label" for="project-title-input">Confirmar Email</label>
                        <input type="text" class="form-control" id="project-title-input"
                            placeholder="Confirme email">
                    </div>
                </div>
                <div class="col-md-6 col-xxl-4">
                    <div class="mb-3 mb-md-0">
                        <label for="choices-priority-input" class="form-label">Región</label>
                        <select class="form-select"
                           >
                            <option value="High" selected>Seleccione</option>
                           
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-xxl-4">
                    <div class="mb-3 mb-md-0">
                        <label for="choices-priority-input" class="form-label">Centro de Salud</label>
                        <select class="form-select"
                           >
                           <option value="High" selected>Seleccione</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-xxl-4">
                    <div class="mb-3 mb-md-0">
                        <label for="choices-priority-input" class="form-label">Cargo</label>
                        <select class="form-select"
                           >
                           <option value="High" selected>Seleccione</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3 offset-3">
                    <div class="text-center m-5">    
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary w-sm">Crear Usuario</button>
                        </div>
                      </div>
                </div> 
                <div class="col-3">
                    <div class="text-center m-5">
                        
                        <div class="d-grid gap-2 ">
                        
                          <button type="submit" class="btn btn-danger w-sm">Cancelar</button>
                          
                        </div>
                      </div>
                </div>
               
            </div>

            

              
             
          </div>
          <!-- end card body -->
      </div>
      <!-- end card -->

      
  </div>
  
  <!-- end col -->
</div>
<!-- end row -->
